<h1>Payment Results</h1>

<div>
  APR
</div>

<div>
  <%= @apr_output %>
</div>

<div>
  Number of years
</div>

<div>
  <%= @n_output %>
</div>

<div>
  Principal
</div>

<div>
  <%= @principal_output %>
</div>

<div>
  Payment
</div>

<div>
  <%= @payment_results %>
</div>

<div>
  <a href = "/payment/new">Calculate another square</a>
</div>
