<h1>Square Root Results</h1>

<div>
  Number
</div>
<div>
  <%= @sqrt_input %>
</div>

<div>
  Square Root
</div>

<div>
  <%= @sqrt_result %>
</div>

<div>
  <a href = "/square_root/new">Calculate another square</a>
</div>
