<h2>Random Results</h2>

<div>
  Minimum
</div>

<div>
  <%= @minimum%>
</div>

<div>
  Maximum
</div>

<div>
  <%= @maximum%>
</div>

<div>
  Random Number
</div>

<div>
  <%= @random_results%>
</div>

<div>
  <a href = "/random/new">Pick another random number</a>
</div>
