<form action = "/square/results">
  <div>
    <label for = "number_id">
      Enter a Number
    </label>
  </div>
  <div>
    <input id = "number_id" name = "number">
  </div>
  <div>
    <button>
      Calculate square
    </button>
  </div>
</form>
