<form action = "/random/results">
  <div>
    <label for = "minimum_id">
      Minimum
    </label>
    <input id = "minimum_id" name = "minimum_input">
  </div>
  <div>
    <label for = "maximum_id">
      Maximum
    </label>
    <input id = "maximum_id" name = "maximum_input">
  </div>
  <div>
    <button>
      Pick random number
    </button>
  </div>
</form>
