<form action = "/payment/results">
  <div>
    <label for = "apr_id">
      APR
    </label>
    <input id = "apr_id" name = "apr_input">
  </div>
  <div>
    <label for = "years_id">
      Number of years
    </label>
    <input id = "years_id" name = "years_input">
  </div>
  <div>
    <label for = "principal_id">
      Principal
    </label>
    <input id = "principal_id" name = "principal_input">
  </div>
  <div>
    <button>
      Calculate monthly payment
    </button>
  </div>
</form>
